<div class="container" >
  <div class="card mx-auto text-center mt-5" style="padding: 20px;">
<h1>New Transaction</h1>

<%= render "form", payment: @payment %>

<br>

<div>
  <%= link_to "Back", user_group_payments_path(@user, @group) %>
</div>

  </div>
</div>
